

body{
  font-family: arial;
  margin-top: 50px;
  margin-left: 30px;
}



.amanha{
  color:darkred;
}
.hoje{
  color:darkblue;
}

a{
  text-decoration: none;
}
h2 a{
  color:seagreen;
}
p{
  font-size: 20px;
}
